.header {
    border-bottom: 2px solid #f76615;
    background: #2f3035;
    position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
    width: 100%;
    .block-hamburger {
        display: none;
    }
    &__wrap {
        display: grid;
        grid-template-columns: 109px 1fr 168px;
        gap: 82px;
        max-width: 1687px;
        padding: 15px 20px;
        margin: 0 auto;
    }

    &__img {
        width: 100%;
        height: auto;
        img {
            width: inherit;
            height: inherit;
            object-fit: contain;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin-left: auto;
        row-gap: 10px;
        column-gap: 24px;
        flex-wrap: wrap;

        &_close {
            display: none;
        }

        &_item {
            a {
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 20px;
                color: #fff;
                text-decoration: none;
                transition: all .3s ease-in-out;
            }

            &.active a, &:hover a {
                color: #f76615;
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    &__link {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 7px;
        transition: all .3s ease-in-out;

        &:hover {
            color: #f76615;
        }
    }
}