.submain {
    padding: 150px 0 192px;
    background: url('../img/submain_bg.jpg') center center/cover no-repeat;
    h3 {
        font-weight: 900;
        font-size: 65px;
        line-height: 95%;
        letter-spacing: 0.01em;
        color: $main-color;
        text-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    }
    &__list {
        margin-top: 40px;
        list-style-type: none;
        gap: 35px;
        display: flex;
        flex-direction: column;
        &_item {
            border-radius: 30px;
            box-shadow: 0 18px 22px 0 rgba(0, 0, 0, 0.1);
            padding: 45px;
            background: #fef5f5;
            display: grid;
            align-items: center;
            gap: 28px;
            grid-template-columns: 85px 1fr;
            &-round {
                font-weight: 900;
                font-size: 38px;
                line-height: 95%;
                letter-spacing: 0.01em;
                color: #fff;
                text-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
                border-radius: 100%;
                background-color: #f76615;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 85px;
            }
            &-title {
                font-weight: 700;
                font-size: 24px;
                line-height: 95%;
                letter-spacing: 0.01em;
                color: $main-color;
                mark {
                    background: #f76615;
                    padding: 0 7px 4px;
                    color: $second-color;
                }
            }
            p {
                margin-top: 12px;
                font-weight: 500;
                font-size: 20px;
                line-height: 95%;
                letter-spacing: 0.01em;
                color: $main-color;
            }
        }
    }
}