@media(max-width: 1441px) {
    .shop {
        padding: 100px 0;
    }
}

@media(max-width: 767px) {
    .shop {
        padding: 0 0 30px 0;
        &__list {
            grid-template-columns: 1fr;
            &_item {
                max-width: 360px;
                margin: 0 auto;
                &-wrap {
                    border-radius: 20px;
                    padding: 20px;
                }
                &-title {
                    font-size: 20px;
                }
                &-price {
                    font-size: 16px;
                }
            }
        }
        &__more {
            height: 50px;
            font-size: 18px;
        }
    }
}